<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="60">
    <title>Todo App</title>
    <style type="text/css">    
      .hidden {
        display: none;
      }
      h1 {
        text-shadow: 2px 2px 5px red;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 10;
        width: 300px;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      
      .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 350px;
        border: 15px solid gray;
        padding: 50px;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align:justify;color:blue"> TODO APP</h6>
    <div id="error" class="hidden" style="color: red;">Something went wrong!</div>
    <div class="lists-wrapper">
      <h4>LISTS</h4>
      <form id="list_form" action="/todo_list/create" method="POST">
        <label for="todolist">List Name:</label>
        <input type="text" id="list_desc"  />
        <input type="submit" value="Create" />
      </form>
      <ul id="todo_lists">
        {% for list in todolists %}
        <li>
          <input class="check-list-completed" type="checkbox"
          data-id="{{ list.id }}"  />
          <a href="/lists/{{ list.id }}">
            {{ list.listname }}
          </a>
          <button  class="check-list-deleted" data-id="{{ list.id }}">&cross;</button>
         
        </li>  
        {% endfor %}
      </ul>
    </div>
    <div class="todos-wrapper">
      <h4>Current List - [{{selected_list_name}}] - TODO's</h4>
      
      <form id="form">
        <input type="hidden" id="selected_list_id" value="{{ selected_list_id }}" />
        <label for="description">Create Task:</label>
        <input type="text" id="description" name="description" />
        <input type="submit" value="Create" />
      </form>
     
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
          {{ todo.description }}
          <button  class="check-deleted" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <script type="application/javascript">
      const delete_buttons = document.querySelectorAll('.check-deleted');
      for(let i=0;i<delete_buttons.length;i++){
        const btn =  delete_buttons[i];

        btn.onclick = function(e){
          const todoId = e.target.dataset['id'];
          console.log("Delete event: ", e);

          fetch('/delete_todos/' + todoId , {
            method: 'DELETE'
          })
          .then(function() {
            console.log('Parent?', e.target);
            const parent_item = e.target.parentElement; // get button of check
            parent_item.remove(); // remove from UI
            document.getElementById("error").className = "hidden";
          })
          .catch(function (e) {
            console.error(e);
            document.getElementById("error").className = "";
          })
        }
      }

      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        
        checkbox.onchange = function(e) {
          
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          console.log(todoId)

          fetch('/todos/' + todoId + '/update_completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }
     
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        console.debug(document.getElementById('selected_list_id').value)
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value,
            'selected_list_id': document.getElementById('selected_list_id').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          console.log(jsonResponse);
          const liItem = document.createElement('LI');
          liItem.innerHTML = jsonResponse['description'];
          document.getElementById('todos').appendChild(liItem); 
          document.getElementById('error').className = 'hidden';
          window.location.reload(true); // instead of this need to build html with check box and delete button
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
      
      //list submit 
      document.getElementById('list_form').onsubmit = function(e) {
        e.preventDefault();
        fetch('/todo_list/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('list_desc').value,
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          
          
          //const liItem = document.createElement('LI');
          //liItem.innerHTML = jsonResponse['description'];
          //document.getElementById('todo_lists').appendChild(liItem); 
          document.getElementById('error').className = 'hidden';
          window.location.reload(true); // NO need to add below statement this refersh will load all data from db.
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
     
      const checkboxes_list = document.querySelectorAll('.check-list-completed');
      for (let i = 0; i < checkboxes_list.length; i++) {
        const checkbox = checkboxes_list[i];
        
        checkbox.onchange = function(e) {
          
          const checked_list = e.target.checked;
          const todolistId = e.target.dataset['id'];
          console.log(todolistId)

          fetch('/todo_list/' + todolistId + '/update_completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': checked_list
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function(jsonResponse) {
            document.getElementById('error').className = 'hidden';

            const todoCheckboxes = document.querySelectorAll('.check-completed');
            for (let index = 0; index < todoCheckboxes.length; index++) {
              const todocheck = todoCheckboxes[index];
              todocheck.checked = checked_list;
            }

          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }
      
      const delete_buttons_list = document.querySelectorAll('.check-list-deleted');
      for(let i=0;i<delete_buttons_list.length;i++){
        const btn =  delete_buttons_list[i];
        btn.onclick = function(e){
          const todoId = e.target.dataset['id'];
          console.log(todoId) // debug
          fetch('/delete_todo_list/' + todoId , {
            method: 'DELETE'
          })
          .then(function(response) {
           const item = e.target.parentElement;
           item.remove();
           document.getElementById("error").className = "hidden";
           window.location.reload(true); // call this to refesh page ... all child items also removed since it removed from db.
          })
          .catch(function(e){
            console.error(e);
            document.getElementById("error").className="";
          });
        }
      }
      
   
   </script>
  </body>
</html>